<!DOCTYPE html>
<html ng-app="givaldo-app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Givaldo Marques</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
</head>

<body ng-controller='CrudController'>


<div>
    <h3 class="card-header text-sm-center">Givaldo Marques - Ciência da Computação UFS</h3>
    <div class="container">
        <p class="text-primary">CRUD feita com angularJS e Bootstrap 4.<br/>
        Nesta aplicação pode-se criar, ler, editar e apagar dados de uma lista de usuários.<br/>Utilizei o padrão de arquitetura de software MVC (Model-view-Controller).<br/>
        A intenção na criação deste software é mostar meus conhecimentos de AngularJS, Bootstrap e MVC para a seleção de estágio SSP 2016.</p>
    </div>

</div>

<div class="container">
    <table class="table table-hover table-bordered">
        <thead class="thead-inverse">
        <th><i class="fa fa-list-ol" aria-hidden="true"></i></th>
        <th class="text-lg-center"> <i class="fa fa-id-card-o" aria-hidden="true"></i>&nbsp;Id </th>
        <th class="text-lg-center"> <i class="fa fa-user-o" aria-hidden="true"></i>&nbsp;Nome </th>
        <th class="text-lg-center"> <i class="fa fa-phone" aria-hidden="true" style="color: white"></i>&nbsp;Telefone </th>
        <th class="text-lg-center">Editar</th>
        <th class="text-lg-center">Apagar</th>
        </thead>

        <tbody>
        <tr ng-repeat="u in users">
            <th scope="row">{{$index + 1}}</th>
            <td>{{u.id}}</td>
            <td>{{u.nome}}</td>
            <td>{{u.fone}}</td>
            <td>
                <button class="btn btn-primary btn-block" ng-click="editUser($index)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </td>
            <td>
                <button class="btn btn-danger btn-block" ng-click="removeUser($index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </td>
        </tr>

        <tr>
            <td>{{users.length+1}}</td>
            <td><input ng-model="user.id" title="id" class="form-control" type="text" placeholder="Id do usuário" required></td>
            <td><input ng-model="user.nome" title="name" ng-value="user.nome" class="form-control" type="text" placeholder="Nome" required></td>
            <td><input ng-model="user.fone" title="phone" class="form-control" type="text" placeholder="Telefone" required  ></td>
            <td><button type="button" class="btn btn-success btn-block" ng-click="createUser()"><i class="fa fa-user-plus" aria-hidden="true"></i></button></td>

        </tr>
        </tbody>
    </table>

    <div class="alert alert-danger" ng-show="showMessage">
        <strong>Erro!</strong> Esse id já está cadastrado.
    </div>

</div>
<h4 class="card-header"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Informações</h4>
<div class="container">
    <p>
        . &nbsp;Para criar um novo usuário deve-ser preencher os campos que ficam no final da tabela e clicar no botão que fica ao lado.<br/>
        . &nbsp;Para editar um usuário deve-se clicar no botão azul ao lado do usuário que deseja-se ter os dados alterados.<br/>
        . &nbsp;Para apagar um usuário deve-se clicar no botão vermelho ao lado do usuário que deseja-se apagar
    </p>
</div>

<!-- ANGULAR -->
<script src="node_modules/angular/angular.min.js"></script>

<!-- MODULE -->
<script src="app.js"></script>

<!-- CRUD CONROLLER -->
<script src="controllers/crud.controller.js"></script>

</body>
</html>